flask
Flask-Limiter
gunicorn
--extra-index-url https://download.pytorch.org/whl/cpu
numpy
openvino
onnxruntime-gpu
flake8
networkx
python-dotenv
torch
scipy
google-cloud-aiplatform
google-genai
google-cloud-bigquery
matplotlib
Pillow
